@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  -webkit-user-select: none;
  user-select: none;
}

input, textarea, button {
  -webkit-user-select: text;
  user-select: text;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
